@import "../variables";

%detail-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
}

%detail-section {
    padding: 2px;
}

%detail-section-heading {
    font-family: $title_font;
    font-size: 19px;
    margin-bottom: 10px;
}

%detail-section-field-title {
    font-family: $content_font;
    font-weight: bold;
    display: inline;
    padding-right: 2px;
    font-size: 18px;
}

%detail-section-field-content {
    font-family: $content_font;
    display: inline;
    padding-right: 10px;
    font-size: 18px;
}
