@import "../variables";
@import "../mixin";

%home-section-title {
    font-family: $title-font;
    font-size: 18px;

    @include landscape-mobile {
        font-size: 20px;
    }

    @include tablets {
        font-size: 22px;
    }

    @include desktop {
        font-size: 24px;
    }
}

%home-section-content {
    font-family: $content_font;
    font-size: 18px;
    text-align: center;

    @include landscape-mobile {
        font-size: 20px;
    }

    @include tablets {
        font-size: 22px;
    }

    @include desktop {
        font-size: 24px;
    }
}
