@import "src/styles/_global.scss", 
        "src/styles/_mixin.scss", 
        "src/styles/_colors.scss";

.header {
    @extend %flex-row-center;
    background-color: $grey-color;

    &__image {
        width: 60%;
        height: 100%;
        margin: 10px;

        @include landscape-mobile {
            width: 48%;
        }
    
        @include tablets {
            width: 38%;
        }
    
        @include desktop {
            width: 30%;
        }
    }
}
