<h1 class="characters__title"> {{ 'list-component.title' | translate}} </h1>

<div class="characters__browser">
    <h3 class="characters__browser-title"> {{ 'list-component.browser' | translate }} </h3>
    <input class="characters__browser-input" type="text" [(ngModel)]="filter">
</div>

<div class="characters__list">
    <div *ngFor="let character of (characterList | filterNames: filter)">
        <app-card-list [character]="character"></app-card-list>
    </div>
</div>

<div class="characters__container-button">
    <button class="characters__button" (click)="getCharactersFromAPI(this.page = this.page - 1)"> PREVIOUS </button>
    <button class="characters__button" (click)="getCharactersFromAPI(this.page = this.page + 1)"> NEXT </button>
</div>
