<div class="physical-description" *ngIf="physicalDescription">
    <h2 class="physical-description__title"> {{ 'hero-description.title' | translate }} </h2>
    
    <div class="physical-description__field">
        <p class="physical-description__field-title"> {{ 'hero-description.gender-field' | translate }} </p>
        <p class="physical-description__field-content"> {{ this.physicalDescription.gender }}</p>
    </div>
    
    <div class="physical-description__field">
        <p class="physical-description__field-title"> {{ 'hero-description.height-field' | translate }} </p> 
        <p class="physical-description__field-content"> {{ this.physicalDescription.height }}</p>
    </div>
    
    <div class="physical-description__field">
        <p class="physical-description__field-title"> {{ 'hero-description.hair-field' | translate }} </p>
        <p class="physical-description__field-content"> {{ this.physicalDescription.hair }} </p>
    </div>

    <div class="physical-description__field">
        <p class="physical-description__field-title"> {{ 'hero-description.eye-field' | translate }} </p>
        <p class="physical-description__field-content"> {{ this.physicalDescription.eye }} </p>
    </div>

    <div class="physical-description__field">
        <p class="physical-description__field-title"> {{ 'hero-description.bloodtype-field' | translate }} </p>
        <p class="physical-description__field-content"> {{ this.physicalDescription.bloodtype }} </p>
    </div>
</div>
