@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Mukta:wght@300&display=swap');

$title_font: 'Merriweather Sans', sans-serif;
$content_font: 'Mukta', sans-serif;
$layout_extra_small_devices: 576px;
$layout_small_devices: 767px;
$layout_large_devices: 768px;
$layout_extra_large_devices: 1200px;
