@import 'src/styles/components/_detail-child-components.scss';
@import 'src/styles/_mixin.scss';

.personal-data {
    @extend %detail-container; 

    @include landscape-mobile {
        margin-left: 60px;
        margin-right: 60px;
    }

    @include tablets {
        margin-left: 110px;
        margin-right: 110px;
    }

    @include desktop {
        margin-left: 150px;
        margin-right: 150px;
    }

    &__field {
        @extend %detail-section;
    }

    &__title {
        @extend %detail-section-heading;
    }

    &__field-title {
        @extend %detail-section-field-title;
    }

    &__field-content {
        @extend %detail-section-field-content;
    }
}
