@import "src/styles/_global.scss";
@import "src/styles/_mixin.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_variables.scss";

.navbar {
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    margin-bottom: 20px;

    &__menu {
        font-family: $title_font;
        color: $black-color;
        font-weight: bold;
        margin: 4px;
        padding: 4px;
        text-decoration: none;
        font-size: 18px;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 0.5s ease-out;

        @include landscape-mobile {
            font-size: 20px;
        }

        @include tablets {
            font-size: 22px;
        }

        @include desktop {
            font-size: 24px;
        }

        &:hover {
            cursor: pointer;
            border-bottom-color: $black-color;
        }
    }

    &__select {
        background-color: $grey-color;
    }
}
