@import "src/styles/_global.scss";
@import "src/styles/_variables.scss";
@import "src/styles/_colors.scss";
@import "src/styles/_mixin.scss";

.about {
    @extend %flex-column;
    align-items: center;
    text-align: center;
    
    &__heading {
        font-family: $title_font;
        font-size: 24px;
        margin-bottom: 0px;
    }

    &__content {
        font-family: $content_font;
        font-size: 22px;
        margin-left: 40px;
        margin-right: 40px;
    }

    &__github {
        font-family: $content_font;
        font-size: 22px;
        text-decoration: none;
        color: $black-color;
        font-weight: bold;

        &:hover {
            cursor: pointer;
            background-color: $grey-color;
        }
    }

    &__gif {
        margin-top: 15px;
        width: 350px;

        @include landscape-mobile {
            width: 550px;
        }

        @include tablets {
            width: 650px;
        }

        @include desktop {
            width: 750px;
        }
    }
}
