<footer class="footer">
    <div class="footer__social-media">
        <a class="footer__logo" href="https://es-la.facebook.com/MyHeroAcademia/">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a class="footer__logo" href="https://www.instagram.com/plusultra/">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="footer__logo" href="https://twitter.com/MHAOfficial">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a class="footer__logo" href="https://www.reddit.com/r/BokuNoHeroAcademia/">
            <i class="fab fa-reddit-square"></i>
        </a>
    </div>

    <p class="footer__author"> {{ 'footer.author' | translate }}</p>
</footer>
