@import 'src/styles/components/_home-child-components.scss';

.home-functioning {
    &__section-title {
        @extend %home-section-title;
    }

    &__section-content {
        @extend %home-section-content;
    }
}
