<div class="hero-characteristics" *ngIf="heroCharacteristics">
    <h2 class="hero-characteristics__title"> {{ 'hero-characteristics.title' | translate }} </h2>
    
    <div class="hero-characteristics__field">
        <p class="hero-characteristics__field-title"> {{ 'hero-characteristics.quirk-field' | translate}} </p>
        <p class="hero-characteristics__field-content"> {{ this.heroCharacteristics.quirk }} </p>
    </div>
    
    <div class="hero-characteristics__field">
        <p class="hero-characteristics__field-title"> {{ 'hero-characteristics.affiliation-field' | translate}} </p> 
        <p class="hero-characteristics__field-content"> {{ this.heroCharacteristics.affiliation }} </p>
    
    </div>
    
    <div class="hero-characteristics__field">
        <p class="hero-characteristics__field-title"> {{ 'hero-characteristics.teams-field' | translate}} </p>
        <p class="hero-characteristics__field-content"> {{ this.heroCharacteristics.teams }} </p>
    </div>
</div>
